h1 {
    text-align: center;
}
h1:hover {
    color:#b01616;
}
table {
    text-align: center;
    margin-left:515px;
}
td {
    width: 100px;
    height: 100px;   
    font-size: 50px;
    animation: fadeIn ease 5s;
    -webkit-animation: fadeIn ease 5s;
    -moz-animation: fadeIn ease 5s;
    -o-animation: fadeIn ease 5s;
    text-align: center;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}



.vert {
    border-left: 2px solid blue;
    border-right: 2px solid blue;
}

.hori {
    border-top: 2px solid blue;
    border-bottom: 2px solid blue;
}

